<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
  <app-input
    [control]="authForm.get('username')"
    label="Username"
    id="username"
    inputType="text"
  ></app-input>
  <app-input
    [control]="authForm.get('password')"
    label="Password"
    id="password"
    inputType="password"
  ></app-input>
  <app-input
    [control]="authForm.get('passwordConfirmation')"
    label="Password Confirmation"
    id="passwordConfirmation"
    inputType="password"
  ></app-input>

  <div
    *ngIf="
      authForm.get('password').touched &&
      authForm.get('passwordConfirmation').touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors.passwordsDoNotMatch">
      Password and Password Confirmation must match.
    </p>
    <p *ngIf="authForm.errors.noConnection">
      No internet connection was detected, failed to signup.
    </p>
    <p *ngIf="authForm.errors.unknownError">Unknown error.</p>
  </div>

  <div>
    <button [disabled]="authForm.invalid" class="ui submit button primary">Sign Up</button>
  </div>
</form>
