<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">
  <app-input label="Username" id="username" [control]="authForm.get('username')"></app-input>

  <div class="field">
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password" />
  </div>

  <div class="field">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" formControlName="passwordConfirmation" id="passwordConfirmation" />
  </div>

  <button [disabled]="authForm.invalid" class="ui submit button primary">Submit</button>
</form>
